[Desktop Entry]
Categories=AudioVideo;Audio;AudioEditing;
Comment=Virtual Modular Studio
Exec=env GDK_BACKEND=x11 /home/aehaze/.opt/BespokeSynth/BespokeSynth-portable.sh %F
GenericName=Virtual Modular Synthesizer
Icon=/home/aehaze/.local/share/icons/BespokeSynth.svg
Keywords=audio;midi;daw;music;
Name=BespokeSynth
NoDisplay=false
Path=/home/aehaze/.opt/BespokeSynth
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=BespokeSynth
Terminal=false
Type=Application
Version=1.0
