[Desktop Entry]
Categories=Utility;FileTransfer;Network;
Comment=Share files to nearby devices
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=localsend --file-forwarding org.localsend.localsend_app @@u %U @@
GenericName=Local file sharing
Icon=/home/aehaze/.local/share/icons/LocalSend.svg
Name=LocalSend
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-Flatpak=org.localsend.localsend_app
X-KDE-SubstituteUID=false
X-KDE-Username=
