[Desktop Entry]
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Comment=Create images and edit photographs
Exec=env GDK_BACKEND=x11 gimp %U
GenericName=Image Editor
Icon=gimp
Keywords=GIMP;graphic;design;illustration;painting;photo;editor;pixels;
Name=GNU Image Manipulation Program
NoDisplay=false
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=gimp
Terminal=false
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
