[Desktop Entry]
Type=Application
Version=1.0
Name=REAPER
GenericName=Digital Audio Workstation
Comment=Digital audio production application
Exec=/home/aehaze/.opt/REAPER/reaper %F
Icon=/home/aehaze/.local/share/applications/icons/REAPER.png
Terminal=false
Categories=AudioVideo;Audio;Recorder;
Keywords=audio;midi;daw;music;
StartupWMClass=REAPER
