[Desktop Entry]
Type=Application
Version=1.0
Name=REAPER
GenericName=Digital Audio Workstation
Comment=Digital audio production application
Exec=/home/aehaze/Applications/REAPER/reaper %F
Icon=/home/aehaze/Applications/REAPER/icon.svg
Terminal=false
Categories=AudioVideo;Audio;Recorder;
Keywords=audio;midi;daw;music;
StartupWMClass=REAPER
